<div class="offerings">
  <div class="card">
    <% current_user.owned_showers.each do |shower| %>
    <%= link_to shower_path(shower) do %>
    <div class="card-shower">
     <% if shower.photo.present? %>
     <%= cl_image_tag shower.photo, crop: :fill%>
     <% else %>
     <%= image_tag('bath.jpg') %>
     <% end %>
     <div class="card-shower-infos">
      <div>
        <h1><strong><%= shower.title %></strong></h1>
        <p><%= shower.address.split(',').first(2).join(', ') %></p>
      </div>
      <h2 class="card-shower-pricing"><%= " #{shower.price}€ " %></h2>
      <%= image_tag "avatar.png", class:"card-shower-user avatar-bordered" %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
