
<h1>Profile page of <%= current_user.email%></h1>

<p> Your bookings: </p>

<ul>
  <% current_user.booked_showers.each do |shower| %>
  <li><%= shower.description %></li>
  <li><%= shower.address %></li>
  <li><%= shower.features %></li>
  <li><%= shower.price %></li>
  <% end %>

</ul>
