
<h1>Profile page of <%= current_user.email%></h1>

<p> Your bookings: </p>

<% current_user.booked_showers.each do |shower| %>
<ul>
  <li><%= shower.description %></li>
  <li><%= shower.address %></li>
  <li><%= shower.features %></li>
  <li><%= shower.price %></li>
</ul>
<% end %>


