  <div class="row">
    <div class="col-3 p-4">
      <% if current_user.avatar.present? %>
      <%= cl_image_tag current_user.avatar, width: 200, height: 200, crop: :thumb, gravity: :face, radius: 10 %>
      <% else %>
      <%= image_tag "avatar.png",  class:"avatar-large" %>
      <% end %>

      <div class="">
        <h3 class="pt-4"><%= current_user.first_name %> <%= current_user.last_name %></h3>
        <h5 class="py-2"><%= current_user.email %></h5>
        <%= link_to "Edit", edit_user_registration_path, class: "btn btn-sm btn-primary m-1" %>
      </div>
    </div>
    <div class="col-9">
      <section id="tabs">
        <div class="container">
          <div class="row pt-">
            <div class="col-xs-12 ">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Listed Showers</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Your bookings</a>

                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                 <div class="profile-page">
                  <% if current_user.owned_showers.present? %>
                  <div class="showers">
                    <%= render 'users/offerings' %>
                  </div>
                  <% end %>

                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <div class="profile-page">
                  <% if current_user.bookings.present? %>
                  <div class="showers">
                    <%= render 'users/bookings' %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>





