<div class="container mt-4">
  <div class="profile-page">
    <% if current_user.owned_showers.present? || current_user.bookings.present? %>
      <div class="showers">
        <% if current_user.owner && current_user.owned_showers.present? %>
          <%= render 'users/offerings' %>
        <% end %>
        <% if current_user.bookings.present? %>
          <%= render 'users/bookings' %>
        <% end %>
      </div>

    <div class="card" style="width: 18rem; height: 18rem;">
      <div class="card-shower p-4" style="width: 18rem;">
        <h4 class="profile-label">Name:</h5>
        <h5 class="profile-info"><strong><%= "#{current_user.first_name} #{current_user.last_name}" %></strong></h5>
        <h4 class="profile-label">Email:</h5>
        <h5 class="profile-info"><strong><%= current_user.email %></strong></h5>
        <div class="button d-flex justify-content-center">
          <%= link_to "Edit", edit_user_registration_path, class:"btn btn-warning"%>
        </div>
      </div>
    </div>
    <% else %>
        <div class="d-flex justify-content-center">
          <div class="card-shower p-4">
            <h4 class="profile-label">Name:</h5>
            <h5 class="profile-info"><strong><%= "#{current_user.first_name} #{current_user.last_name}" %></strong></h5>
            <h4 class="profile-label">Email:</h5>
            <h5 class="profile-info"><strong><%= current_user.email %></strong></h5>
            <div class="button d-flex justify-content-center">
              <%= link_to "Edit", edit_user_registration_path, class:"btn btn-warning"%>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

