<div class="container">
  <h1>Showers#index</h1>

  <p>Find me in app/views/showers/index.html.erb</p>

  <div class="card">
    <% @showers.each do |shower| %>
      <%= link_to shower_path(shower) do %>
        <div class="card-shower">
          <% if shower.photo.present? %>
            <%= cl_image_tag shower.photo, crop: :fill%>
          <% else %>
            <%= image_tag('bath.jpg') %>
          <% end %>
            <div class="card-shower-infos">
              <div>
                <h1><%= shower.title %></h1>
                <h2><%= shower.address %></h2>
              </div>
              <h2 class="card-shower-pricing">€<%= shower.price %></h2>
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-shower-user avatar-bordered"/>
            </div>
            <h2 class="card-shower-pricing">€<%= shower.price %></h2>
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-shower-user avatar-bordered"/>
          </div>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <%= link_to "New Shower", new_shower_path, class:"btn btn-primary" %>
</div>



