<div class="banner-index">
  <div class="container">
    <h1>We Got You Covered <span>[</span> and Showered <span>]</span></h1>
    <p>Take a shower on the spot! We have the solution to unexpected events!🚿🧽</p>
  </div>
</div>

<div class="container pt-3 pb-5">
  <div class="card">
    <% @showers.each do |shower| %>
      <%= link_to shower_path(shower) do %>
        <div class="card-shower">
          <% if shower.photo.present? %>
            <%= cl_image_tag shower.photo, crop: :fill%>
          <% else %>
            <%= image_tag('bath.jpg') %>
          <% end %>
            <div class="card-shower-infos">
              <div>
                <h1><%= shower.title %></h1>
                <h2><%= shower.address %></h2>
              </div>
              <h2 class="card-shower-pricing">€<%= shower.price %></h2>
              <%= image_tag "avatar", class:"card-shower-user avatar-bordered" %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



