<div class="row pl-3">
  <div class="col-12 col-sm-7 col-lg-6">
     <div class="card">
      <% @results.each do |shower| %>
      <%= link_to shower_path(shower) do %>
      <div class="card-shower">
        <% if shower.photo.present? %>
        <%= cl_image_tag shower.photo, crop: :fill%>
        <% else %>
        <%= image_tag('bath.jpg') %>
        <% end %>
        <div class="card-shower-infos">
          <div>
            <h1><%= shower.title %></h1>
            <h2><%= shower.address.split(',').first(2).join(', ') %></h2>
          </div>
          <h2 class="card-shower-pricing">€<%= shower.price %></h2>
          <% if shower.user.avatar.present? %>
            <%= cl_image_tag shower.user.avatar, width: 56, height: 56, crop: :thumb, gravity: :face, class:"card-shower-user avatar-bordered" %>
          <% else %>
            <%= image_tag "avatar.png",  class:"card-shower-user avatar-bordered" %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-12 col-sm-5 col-lg-6">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
    ></div>
  </div>
</div>
